<%= form_with model: @employee, local: true do |form| %>
 
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employee.errors.count, "error") %> prohibited
        this employee details from being saved:
      </h2>
      <ul>
        <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :Name %>
  </p>
 
  <p>
    <%= form.label :Mobile %><br>
    <%= form.text_field :Mobile %>
  </p>
 
 <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

 <p>
    <%= form.label :Password %><br>
    <%= form.password_field :password %>
  </p>

   <p>
    <%= form.label :Confirm_password %><br>
    <%= form.password_field :password_confirmation %>
  </p>



  <p>
    <%= form.submit %>
  </p>
 
<% end %> 