<h1>Listing All Employees</h1>
<p><%= link_to 'New Employee', new_employee_path %></p>
<p><%= link_to 'All Doctors', doctors_path %></p>
<p><%= link_to 'All patients', patients_path %></p>
<p><%= link_to 'All Appointments', appointments_path %></p> 
<p><%= link_to 'New Appointments', new_appointment_path %></p> 
 

<table border = "1">
  <tr>
    <th ><b>Id</b></th>
    <th ><b>Name</b></th>
    <th ><b>Mobile</b></th>
    <th ><b>email</b></th>
  <th ><b>Action</b></th>
  </tr>
 
  <% @employee.each do |employee| %>
    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.Name %></td>
      <td><%= employee.Mobile %></td>
      <td><%= employee.email %></td>
      <td><%= link_to 'Show', employee_path(employee) %>&nbsp;&nbsp;&nbsp;
      <%= link_to 'Edit', edit_employee_path(employee) %>&nbsp;&nbsp;&nbsp;
      <%= link_to 'Delete', employee_path(employee),method: :delete,data: { confirm: 'Are you sure?' }%>

      </td>
    </tr>
  <% end %>
</table>