<h1>Employee Data</h1>


<p>
  <strong>Name:</strong>
  <%= @employee.Name %>
</p>
 
<p>
  <strong>Mobile:</strong>
  <%= @employee.Mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>


<p>
<%= link_to 'Edit', edit_employee_path(@employee) %>

</p>

<%= link_to 'Index', employees_path %>