<h1>Listing All Patients</h1>
<!-- <p><%= link_to 'New Employee', new_employee_path %></p> -->
<p><%= link_to 'Index', employees_path %></p>
<p><%= link_to 'New Patient', new_patient_path %></p>
<table border = "1">
  <tr>
    <th ><b>Id</b></th>
    <th ><b>Name</b></th>
    
  <th ><b>Action</b></th>
  </tr>
 
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.id %></td>
      <td><%= patient.name %></td>
      <td><%= link_to 'Show', patient_path(patient) %>&nbsp;&nbsp;&nbsp;
      <%= link_to 'Edit', edit_patient_path(patient) %>&nbsp;&nbsp;&nbsp;
      <%= link_to 'Delete', patient_path(patient),method: :delete,data: { confirm: 'Are you sure?' }%>

      </td>
    </tr>
  <% end %>
</table>